{% extends "base_les.html" %}
{% load static %}
{% block title %}GioiThieu{% endblock %}
<!-- banner -->
{% block banner %}
    <div id="banner_sub">
        <img class="d-block w-100" src="{% static 'image/banner/sub_banner/python.png' %}" alt="Khóa Học Python">
    </div>
{% endblock %}
<!-- article -->
{% block article %}
<article class="col-md-8 col-sm-12 article_area mt_t10">   
    <div class="row mb_20">
        <div class="title_header">
            <h2 class="mb-0 bold">Python Cơ Bản</h2>
        </div>
    </div>
    
    <!-- section -->
    <section class="md-section">
        <!-- lesson content -->
        <div class="title_lesson">
            <h4 class="strong_blue">Bài 1: Giới Thiệu</h4>
        </div>
        <div class="video_lesson">
            <video></video>
        </div>
        <div class="content_lesson">
            <h4>Nội dung chính</h4>
            <p>1. Giới thiệu về ngôn ngữ Python</p>
            <p>2. Cài đặt tool và môi trường</p>
            <p>3. Viết chương trình đầu tiên và chạy thành công công chương trình</p>
        </div>
        <!-- google advertisement -->
        <div class="gooogle_adv_hori">
            <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
        </div>
        <!-- lesson next -->
        <div class="lesson_next_more mt_t10">
            <div class="les_title">
                <div class="left">
                    <h5 class="bold">Bài học tiếp theo</h5>
                </div>
                <div class="right">

                </div>
            </div>
            <div class="les_row">
                <div class="lesson_next col-md-4 col-sm-6 padding_5">
                    <div class="video_next"><video></video></div>
                    <div class="title_next"><a href="#"><h5 class="font_size_init" alt="Bài 2: Cú pháp đơn giản 12345678">Bài 2: Cú pháp đơn giản 12345678</h5></a></div>
                </div>
                <div class="lesson_next col-md-4 col-sm-6 padding_5">
                    <div class="video_next"><video></video></div>
                    <div class="title_next"><a href="#"><h5 class="font_size_init">Bài 2: Cú pháp đơn giản</h5></a></div>
                </div>
                <div class="lesson_next col-md-4 col-sm-6 padding_5">
                    <div class="video_next"><video></video></div>
                    <div class="title_next"><a href="#"><h5 class="font_size_init">Bài 2: Cú pháp đơn giản</h5></a></div>
                </div>
            </div>
        </div>
        <!-- commnet -->
        <div class="commnet mt_t10">
            <div class="title_comment">
                <h5 class="bold">Bình luận</h5>
                <p class="red">Xin lỗi! Chức năng này đang được cập nhật!!</p>
            </div>
        </div>
    </section>
</article>
{% endblock %}
 <!-- aside -->
{% block aside %}
<aside class="col-md-4 col-sm-12 aside_area mt_t10">
    <!-- facebook -->
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    data-tabs="timeline" data-width="" data-height="130px" data-small-header="false" data-adapt-container-width="true" 
    data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362">Developer Việt Nam</a></blockquote></div>
    <!-- google advertisement -->
    <div class="gooogle_adv_verti mt_t10">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div>
    <!-- lesson more -->
    <div class="lesson_more mt_t10">
        <div class="les_header padding_5" style="background-image: url({% static 'image/background/title.jpg' %})">
            <h3 class="bold">Xem nhiều</h3>
        </div>
        <div class="les_content padding_5">
            <div class="les_row">
                <div class="video_more mr_5">
                    <video></video>
                </div>
                <div class="title_more">
                    <a href="#"><h5 class="font_size_init">Bài 2: Kiểu dữ liệu</h5></a>
                </div>
            </div>

            <div class="les_row">
                <div class="video_more mr_5">
                    <video></video>
                </div>
                <div class="title_more">
                    <a href="#"><h5 class="font_size_init">Bài 3: Cú pháp cơ bản</h5></a>
                </div>
            </div>

            <div class="les_row">
                <div class="video_more mr_5">
                    <video></video>
                </div>
                <div class="title_more">
                    <a href="#"><h5 class="font_size_init">Bài 4: Xử lý ngoại lệ</h5></a>
                </div>
            </div>

            <div class="les_row">
                <div class="video_more mr_5">
                    <video></video>
                </div>
                <div class="title_more">
                    <a href="#"><h5 class="font_size_init">Bài 5: Giới Thiệu</h5></a>
                </div>
            </div>

            <div class="les_row">
                <div class="video_more mr_5">
                    <video></video>
                </div>
                <div class="title_more">
                    <a href="#"><h5 class="font_size_init" alt="Bài 6: Giới Thiệu">Bài 6: Giới Thiệu</h5></a>
                </div>
            </div>
            <div class="les_more_total">
                <a href ="#">Xem thêm</a>
            </div>
        </div>
    </div>
    <!-- google advertisement -->
    <div class="gooogle_adv_verti mt_t10">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div>
</aside>
{% endblock %}