{% extends "base_les.html" %}
{% load static %}
{% block title %}GioiThieu{% endblock %}
<!-- banner -->
{% block banner %}
    <div id="banner_sub">
        <img class="d-block w-100" src="{% static 'image/banner/sub_banner/python.png' %}" alt="Khóa Học Python">
    </div>
{% endblock %}
<!-- article -->
{% block article %}
<article class="col-md-8 col-sm-12 article_area mt_t20">
    <div class="gooogle_adv">
        <img src="{% static 'image/google_adv/01.jpg' %}" alt="">
    </div>
    <div class="row mb_20 mt_t20">
        <div class="title_header">
            <h2 class="mb-0 bold">Python Cơ Bản</h2>
        </div>
    </div>
    
    <!-- section -->
    <section class="md-section">
        <div class="title_lesson">
            <h4>Bài 1: Giới Thiệu</h4>
        </div>
        <div class="video_lesson">
            <video style="background-color: black"></video>
        </div>
        <div class="content_lesson">
            <p>đây là nội dung bài 4</p>
        </div>
        <div class="commnet">
            <p>đây là vùng commnet</p>
        </div>
    </section>
</article>
{% endblock %}
 <!-- aside -->
{% block aside %}
<aside class="col-md-4 col-sm-12 aside_area mt_t20">
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    data-tabs="timeline" data-width="" data-height="130px" data-small-header="false" data-adapt-container-width="true" 
    data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362" 
    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Developer-Vi%E1%BB%87t-Nam-109512397877362">Developer Việt Nam</a></blockquote></div>
</aside>
{% endblock %}