{% extends "base_sub.html" %}
{% load static %}
{% block title %}DangNhap{% endblock %}
<!-- body -->
{% block body %}
<body class="text-center" style="background-image: url({% static 'image/background/sign_in.png' %})">
    <form class="form-signin">
        <a href="\TrangChu"><img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></a>
        <h1 class="h3 mb-3 font-weight-normal">Vui Lòng Nhập Tài Khoản</h1>
        <label for="inputEmail" class="sr-only">Địa chỉ Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Địa chỉ Email" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Mật Khẩu</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Mật Khẩu" required="">
        <div class="text-left">
            <a href="#" class="blue">Quên mật khẩu?</a>
        </div>      
        <button class="btn btn-lg btn-rs btn-block mt_t30 bold" type="submit">Đăng Nhập</button>
        <div class="text-left mt_t10 bold">
            <a href="\DangKy" class="blue">Bạn chưa có tài khoản?</a>
        </div> 
        <p class="mt-5 text-muted">© 2021 All rights reserved.<br>Designed by DeveloperVN.</p>
    </form>
</body>
{% endblock %}