
body{
    background-color:#f7f7f7;
}
.ml_20{
    margin-left: 20px;
}
.ml_10{
    margin-left: 10px;
}
.mt_t5{
    margin-top: 5px;
}
.mt_t30{
    margin-top:  30px;
}
.mt_t20{
    margin-top: 20px;
}
.mt_t10{
    margin-top: 10px;
}
.mb_20{
    margin-bottom: 20px;
}
.mr_20{
    margin-right: 20px;
}
.nomargin_bottom{
    margin-bottom: 0px !important;
}
.bold{
    font-weight: bold;
}
.blue{
    color: blue !important;
}
.footer{
    min-height: 60px;
    max-height: 108px;
    position: sticky;
    width: 100%;
    vertical-align: middle;
}
.py-6 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}
.text-muted {
    color: #f8f9fa!important;
}
#tns1 > .tns-item {
    width: calc(14.2857%);
    padding-right: 20px;
}
.contact_footer{
    text-align: right;
}
.banner{
    margin-top: 58px;
}
.textbox {
    height: 100%;
    padding: 10px;
    margin: 0 0;
    background-color: white;
    text-align: center;
    transition: all ease .3s;
}
.textbox__image img {
    width: 100%;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    border: 0px;
}
#banner_sub{
    margin-top: 58px; 
}
.contact_footer img{
    height: 30px !important;
    width: 30px !important;
}
#tns1 > .tns-item {
    font-size: 14px;
}
.tns-horizontal.tns-subpixel>.tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.tns-slider>.tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card-hover {
    transition: box-shadow .25s ease;
}
.card {
    border: 0;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eae7f5;
    border-radius: .5rem;
}
.card-body{
    padding: 10px 10px;
}
.card-footer {
    padding: 10px 10px;
    background-color: #fff;
    border-top: 1px solid #eae7f5;
}
.item{
    padding: 0px 5px;
}
.form-inline button{
    margin-left: 10px;
}
.btn-rs{
    background-color: #0288d1;
    border-color: #0288d1;
}
.btn-rs:hover{
    background-color: #027bd1;
    border-color: #027bd1;
    color: #eae7f5;
}
.text-while{
    color: white;
}
.video_lesson video{
    width: 100%;
    height: auto;
}
.content .article_area {
    float: left;
}
.content .aside_area{
    float: right;
}